*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    /* border: 1px dashed greenyellow; */
}
body{
    background-color:rgb(83, 77, 77);
}
p{
    text-align: justify;
}
hr{
}
/* ------- HEADER ------- */
header{
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding:20px;
    align-items: center;
    margin: auto;
    background-color:black;
    position: fixed;
    width:100%;
    top: 0;
}
/* ------- LOGO ------- */
.logo{
    border-radius: 20px 0 20px 0;
    background-color: red;
    padding: 20px;
    font-weight: bold;
    color: white;
    animation:logoanimation 3s infinite;
}
/* ------- NAVIGATION ------- */
nav ul{
    display:flex;
    column-gap: 15px;
}
nav li{
    list-style-type: none;
}
nav a{
    border-radius:5px 0 5px 0;
    color: white;
    font-weight: bold;
    text-decoration:none;
    padding:5px;
    border: solid white 4px;
}
nav a:hover{
    background-color:white;
    color: black;
}
nav a:active{
    color: red;
}
/* WRAPPER */
.wrapper{
    display: flex;
    justify-content: space-between;
}
/* SIDEBAR CONTACT */
.sidebar{
    padding: 20px;
    width:20%;
    color: white;
    position:fixed;
    right: 3%;
    top: 20%;
    text-align: center;
    border-radius: 20px;
    background-color: #27282c;
    display: none;
    flex-flow: column nowrap;
    row-gap: 15px;
}
/* MAIN CONTAINER (CONTENT)*/
.main-container{
    display:flex;
    flex-flow:column nowrap;
    row-gap: 40px;
    max-width:70%;
    margin: 100px auto auto auto;
}
/* CONTAINER SATU */
.container-satu{
    border-left: 10px white solid;
    background-color:#27282c;
    color: white;
    padding: 20px;
    margin: 50px auto;
    display: flex;
    column-gap: 20px;
    border-radius: 10px;
}
.main-content{
    flex: 2;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
}
aside{
    /* background-image: url(aset/header.png); */
    background-color: black;
    flex: 1;
    display:flex;
    flex-flow: column nowrap;
    row-gap: 20px;
    padding: 20px;
    border-radius: 20px 0 20px 0;
    background-size: cover;
    background-position: center;
}
/* CONTAINER DUA (SERVICE) */
.container-dua{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.service{
    width: 30%;
    padding: 20px;
    border-radius: 20px 0 20px 0;
    background-color:#27282c;
    color: white;
}
.service:hover{
    animation: service-animation 1s forwards;
    cursor: pointer;
}
.center-text{
    text-align: center;
}
#gallery, .center-text{
    opacity:100%;
    font-size: 2em;
    color: white;
}
/* GALLERY */
.container-tiga{
    margin: 50px auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    border-radius:10px;
}
.service h3, .service p{
    text-align:center;
}
/* IMAGE WRAPPER */
.img{
    width:200px;
    height: 200px;
    border-radius: 20px 0 20px 0;
}


.img:active{
    animation:img-animation 0.2s forwards;
}
.img:hover{
    cursor: pointer;
}
/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 20px;
    background: black;
}
footer h2{
    color: white;
    margin:auto;
}
/* BUTTON */
button{
    background-color: #444;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    margin-top: 10px;
}
button:hover{
    cursor: pointer;
    letter-spacing: 0.25em;
}
/* CONTACT IMG */
.contact-img-wrapper{
    display:flex;
    justify-content:space-between;
    column-gap: 5px;
}
.contact-img{
    width:50px;
    height:50px;
}
.contact-img:hover{
    animation: contact-img-animation 0.5s forwards;
}
.contact-img:active{
    filter: grayscale(100%);
}
/* -------------------KEYFRAMES ANIMATION DEKSTOP------------------- */
@keyframes contact-img-animation{
    0%{

    }
    100%{
        transform: scale(1.2);
    }
}
@keyframes service-animation{
    0%{

    }
    100%{
        background-color:red;
        transform: scale(1.2);
    }
}
@keyframes logoanimation{
    0%{

    }
    100%{
        transform:rotate(360deg);
    }
}
@keyframes img-animation{
    0%{

    }
    100%{
        transform:scale(1.2) rotate(360deg);
    }
}
/* ---------------------RESPONSIVE BREAKPOINT--------------------- */
@media(max-width:820px){
    /* lOGO */
    header{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav ul{
        gap: 17px;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    nav a{
        border: solid white 1px;
    }
    .header-logo{
        display: none;
    }
    /* CONTAINER SATU */
    .container-satu{
        display: flex;
        flex-flow:column nowrap;
        row-gap: 20px;
        border:none;
    }
    /* CONTAINER DUA (SERVICE) */
    .container-dua{
        display: flex;
        flex-flow: column nowrap;
        row-gap: 15px;
    }
    .service{
        width: 100%;
        row-gap: 15px;
    }
    /* CONTAINER DUA (SERVICE) */
    .container-tiga{
        display: flex;
        justify-content: center;
        background-color: #27282c;
        border: 1px solid white;
    /* WRAPPER */
    }
    .wrapper{
        display: flex;
        width:100%;
        flex-flow: column nowrap;
    }
    /* CONTACT */
    .sidebar{
        margin: auto;
        width: 80%;
        position: static;
        margin-bottom: 15px;
    }
    .main-container{
        max-width:90%;
        margin: 5% auto 20px auto;
    }
    /* IMG */
    .img{
        width:150px;
        height:150px;
    }
    
    /* -------------------KEYFRAME MOBILE------------------- */
    @keyframes service-animation{
        0%{
    
        }
        100%{
            background-color:red;
        }
    }
}